.aside-left {
  background-color: $bg_aside_left;
  color: $color_aside_left;
  padding: 20px 10px;
  width: 350px;

  & > .container {
    margin: 0 auto;
    position: relative;
  }

  .add-form-block {
    .form-add {
      width: 100%;
      input {
        width: calc(100% - 50px);
      }
    }
  }
}
