.header {
  background-color: $bg_header;
  color: $color_header;
  padding: 15px;
  position: relative;
  height: 75px;
  z-index: 1;

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .task-title {
    font-family: $open_sans_semi_bold;
    font-size: 24px;
    margin: 0 0 0 15px;
  }
}
