.add-form-block {
  display: flex;
  margin-bottom: 20px;
  .form-add {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dadada;

    &.error {
      input {
        border: 1px solid $main_red;
      }
    }

    input {
      box-sizing: border-box;
      border: none;
      border-radius: 0;
      padding: 10px 15px;
      min-width: 200px;
      @include transition(all 0.3s);
    }

    button {
      @extend %add-reset-button;
      border-radius: 0;
      background-color: $bg_form_add_button;
      cursor: pointer;
      padding: 10px 0;
      width: 50px;
      &:not(:disabled):hover {
        background-color: darken($bg_form_add_button, 10%);
      }
    }
  }
}
