.branding {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 200px;
  @include transition(all 0.3s);
  &:before,
  &:after {
    background-color: $main_blue;
    content: '';
    display: block;
    font-size: 45px;
    line-height: 1;
    opacity: 0;
    position: absolute;
    top: 0;
    height: 45px;
    width: 3px;
    @include transition(all 0.3s);
  }
  &:before {
    left: 50%;
  }
  &:after {
    right: 50%;
  }
  &.active {
    &:before {
      left: -10px;
      opacity: 1;
    }
    &:after {
      right: -10px;
      opacity: 1;
    }
  }
  .logo {
    text-align: center;
    height: 45px;
    width: 45px;
    img {
      max-height: 45px;
      max-width: 100%;
    }
  }
  .page-title {
    font-family: $open_sans_semi_bold;
    font-size: 24px;
    margin: 0 0 0 15px;
  }
}
