.category-list-block {
  .category-list {
    overflow: hidden;
  }
  .sub-category-list {
    margin-left: 15px;
  }
  .category {
    list-style: none;
    margin: 0;
    &.category-multi-item {
      & > a {
        &:before {
          @extend %add-icofont;
          content: "\e605";
          font-size: 10px;
          color: inherit;
          transform: translateY(-50%);
          left: 0;
          top: 50%;
          position: absolute;
        }
      }
    }
    & > a {
      border-top: 1px solid $bg_category_item;
      border-bottom: 1px solid $border_category_item_bottom;
      color: $color_aside_category;
      display: block;
      font-family: $open_sans_semi_bold;
      overflow: hidden;
      padding: 10px 80px 10px 15px;
      position: relative;
      z-index: 1;
      &.active {
        background-color: lighten($bg_category_item, 10%);
      }
      .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        top: 0;
        position: absolute;
        height: 100%;
        z-index: 2;
        .action {
          @extend %add-reset-button;
          color: $color_aside_category;
          cursor: pointer;
          font-size: 17px;
          line-height: 1;
          outline: none;
          @include transition(all 0.3s);
          &:before {
            @extend %add-icofont;
            font-size: inherit;
            color: inherit;
            padding: 2px 4px;
          }
        }
        .category-edit {
          &:before {
            content: "\e604";
          }
          &:hover {
            color: $main_blue;
          }
        }
        .category-remove {
          &:before {
            content: "\e602";
          }
          &:hover {
            color: $main_red;
          }
        }
        .add-sub-category {
          &:before {
            content: "\e603";
          }
          &:hover {
            color: $main_yellow;
          }
        }
        .move-task {
          background-color: $bg_action_task_move;
          color: $color_action_task_move;
          font-size: 20px;
          right: 0;
          top: 10%;
          position: absolute;
          text-align: center;
          height: 80%;
          width: 100%;
          z-index: 2;
          &:before {
            content: "\e606";
            color: inherit;
          }
          &:hover {
            color: $main_blue;
          }
          &.hide {
            right: -100%;
          }
        }
      }
    }
  }
}
