.edit-task-form-block {

  padding-top: 75px;
  position: relative;

  .edit-task-form.error {
    .form-item {
      .task-title__input {
        border: 1px solid $main_red;
      }
      .field-error {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  .action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    @extend %add-form-action-btn;
    a {
      display: inline-flex;
    }
  }
  .form-item {
    display: flex;
    margin-bottom: 20px;
    .task-title__input {
      background-color: #fff;
      box-sizing: border-box;
      border: 1px solid #dadada;
      border-radius: 4px;
      padding: 10px 15px;
      min-width: 200px;
      width: 50%;
    }
    .field-error {
      opacity: 0;
      color: $main_red;
      font-family: $open_sans_semi_bold;
      padding: 11px 15px;
      transform: translateY(-100%);
      @include transition(all 0.3s);
    }
    .task-status__label {

    }
    .task-status__input {
      margin-right: 10px;
    }
    .task-description__textarea {
      background-color: #fff;
      box-sizing: border-box;
      border: 1px solid #dadada;
      border-radius: 4px;
      padding: 10px 15px;
      min-width: 200px;
      width: 100%;
    }
  }
}
