.empty-category-list-msg-block {
  .msgTitle {
    margin: 0 0 30px;
    text-align: center;
  }
  .msgAction {
    text-align: center;
    button {
      @extend %add-reset-button;
      background-color: darken($main_blue, 5%);
      color: #fff;
      cursor: pointer;
      font-family: $open_sans_semi_bold;
      padding: 10px 20px;
      @include transition(all 0.3s);
      &:hover {
        background-color: darken($main_blue, 15%);
      }
    }
  }
}
