.loading {

  background-color: $loader-bg;
  box-sizing: border-box;
  display: flex;
  color: $loader-title-color;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  left: 0;
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
  @include transition(all 0.5s);

  .title {
    margin-top: 20px;
  }
  .loader {
    @include loader();
  }
}
