.modal {
  background-color: $bg_modal;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  .modal-content {
    background-color: $bg_modal_content;
    max-width: 800px;
    padding: 40px;
    position: relative;
    z-index: 1;
    .close {
      cursor: pointer;
      right: 10px;
      top: 10px;
      position: absolute;
      height: 20px;
      width: 20px;
      z-index: 1;
      &:hover {
        &:before,
        &:after {
          background-color: $main_red;
        }
      }

      &:before,
      &:after {
        background-color: #000;
        content: '';
        display: block;
        left: 50%;
        top: 0;
        position: absolute;
        height: 100%;
        width: 1px;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    .modal-title {
      font-size: 20px;
      font-family: $open_sans_semi_bold;
      font-weight: normal;
      margin: 0 0 30px;
      text-align: center;
    }
  }
}
