.progress-bar {
  left: 0;
  bottom: 0;
  position: absolute;
  height: 4px;
  width: 100%;
  z-index: 2;
  .progress-indicator {
    background-color: $main_green;
    height: 100%;
    width: 0;
    @include transition(all 0.3s);
  }
}
