.task-list-block {
  .task-list-prefix {
    margin-bottom: 30px;
  }
  .add-form-block {
    justify-content: flex-end;
  }
  .task-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
    }
    .task {
      border-bottom: 1px solid $border_task;
      color: $color_task;
      padding: 20px;
      @include transition(all 0.3s);
      &:first-child {
        border-top: 1px solid $border_task;
      }
      &:hover {
        background-color: #fff;
      }
      .task-wrap {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }
      .task-done {
        margin-right: 10px;
        width: 20px;
      }
      .task-title {
        color: $color_task;
        font-size: 18px;
        font-family: $open_sans_regular;
        font-weight: normal;
        margin: 0;
        max-width: calc(100% - 60px);
        &.active {
          color: $main_green;
          & + .task-description {
            display: block !important;
          }
        }
      }
      .task-description {
        display: none;
        padding: 20px;
        width: 100%;
      }
      .task-actions {
        right: 0;
        top: 0;
        position: absolute;
        .action {
          @extend %add-reset-button;
          color: $color_task;
          cursor: pointer;
          font-size: 17px;
          line-height: 1;
          outline: none;
          padding: 3px 4px;
          @include transition(all 0.3s);
          &:before {
            @extend %add-icofont;
            font-size: inherit;
            color: inherit;
          }
        }
        .task-edit {
          &:before {
            content: "\e604";
          }
          &:hover {
            color: $main_blue;
          }
        }
      }
    }
  }
}
