.task-filter {
  .filter-form {
    display: flex;
    align-items: center;
    position: relative;
  }
  .filter-form__item {
    position: relative;
    z-index: 1;
  }
  .filter-form__done {
    @extend %add-custom-checkbox;
    margin-right: 15px;
  }
  .filter-form__task-title {
    input {
      border: 1px solid $border_form_input;
      border-radius: 0;
      box-sizing: border-box;
      padding: 10px 40px 10px 10px;
      font-size: 16px;
      line-height: 1;
      position: relative;
      width: 220px;
      z-index: 1;
    }
  }
  .filter-form__actions {
    border: 1px solid transparent;
    right: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 40px;
    z-index: 2;
    button {
      @extend %add-reset-button;
      color: $color_search_icon;
      cursor: pointer;
      display: none;
      font-size: 26px;
      outline: none;
      height: 100%;
      width: 100%;
      position: relative;
      @include transition(all 0.3s);
      &.active {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:hover {
        color: $color_search_icon_hover;
      }
      &:after {
        @extend %add-icofont;
        content: "";
        font-size: inherit;
        color: inherit;
      }
    }
    [type="submit"] {
      &:after {
        content: "\e600";
      }
    }
    [type="reset"] {
      &:after {
        content: "\e601";
      }
    }
  }
}
