@font-face {
  font-family: 'icomoon';
  src:    url('../fonts/icomoon.eot?bu2pum');
  src:    url('../fonts/icomoon.eot?bu2pum#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?bu2pum') format('truetype'),
  url('../fonts/icomoon.woff?bu2pum') format('woff'),
  url('../fonts/icomoon.svg?bu2pum#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSansBold.eot');
  src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
  url('../fonts/OpenSansBold.woff2') format('woff2'),
  url('../fonts/OpenSansBold.woff') format('woff'),
  url('../fonts/OpenSansBold.ttf') format('truetype'),
  url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}

@font-face {
  font-family: 'Open Sans Semi Bold';
  src: url('../fonts/OpenSans-Semibold.eot');
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
  url('../fonts/OpenSans-Semibold.woff') format('woff'),
  url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
  url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSansRegular.eot');
  src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
  url('../fonts/OpenSansRegular.woff2') format('woff2'),
  url('../fonts/OpenSansRegular.woff') format('woff'),
  url('../fonts/OpenSansRegular.ttf') format('truetype'),
  url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url('../fonts/OpenSansItalic.eot');
  src: url('../fonts/OpenSansItalic.eot') format('embedded-opentype'),
  url('../fonts/OpenSansItalic.woff2') format('woff2'),
  url('../fonts/OpenSansItalic.woff') format('woff'),
  url('../fonts/OpenSansItalic.ttf') format('truetype'),
  url('../fonts/OpenSansItalic.svg#OpenSansItalic') format('svg');
}

// icon font
$icomoon: 'icomoon';

// reserve font
$open_sans_bold: 'OpenSansBold', sans-serif;
$open_sans_semi_bold: 'Open Sans Semi Bold', sans-serif;
$open_sans_regular: 'OpenSansRegular', sans-serif;
$open_sans_italic: 'OpenSansItalic', sans-serif;
