// loader
$loader-bg:         rgba(0,0,0,0.5) !default;
$loader-title-color:           #fff !default;
$loader-color:              #00f1ff !default;
$loader-size:                  46px !default;
$loader-height:                20px !default;
$loader-border-size:            5px !default;
$loader-gap:                   12px !default;
$loader-animation-duration:    1.3s !default;

// main
$main_red: #fa4c38;
$main_blue: #5dcff3;
$main_yellow: #fbb725;
$main_green: #92cf5c;
$main_violet: #594f8d;
$main_disable: #aeb6cb;

// background
$bg_body: #f3f5f9;
$bg_header: #f9fafc;
$bg_progress_indicator: #92cf5c;
$bg_aside_left: #292c33;
$bg_form_add_button: #fcc44d;
$bg_category_item: #333740;
$bg_action_task_move: #efefef;
$bg_modal: rgba(0,0,0,0.5);
$bg_modal_content: #f3f5f9;

// color
$color_header: #575757;
$color_content: #060606;
$color_search_icon: #c4c9d3;
$color_search_icon_hover: #fa4c38;
$color_aside_left: #e6e6e6;
$color_aside_category: #e6e6e6;
$color_action_task_move: #060606;
$color_task: #060606;

// border
$border_task: #dadada;
$border_form_input: #dadada;
$border_category_item_bottom: #414550;
