%add-icofont {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%add-reset-button {
  background: none;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

%add-custom-checkbox {
  label {
    input {
      display: none;
      &:checked + span {
        &:before {
          content: '\e609';
        }
      }
    }
    span {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 25px;
      &:before {
        @extend %add-icofont;
        display: block;
        content: '\e608';
        font-size: 25px;
        line-height: 1;
        margin-right: 10px;
        height: 25px;
        width: 25px;
        @include transition(all 0.3s);
      }
    }
  }
}

%add-form-action-btn {
  .action-btn {
    background-color: #aeb6cb;
    border: 1px solid #dae0ed;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    margin-left: 15px;
    padding: 10px 15px;
    @include transition(all 0.4s);
    &.submit {
      &:hover {
        background-color: $main_green;
      }
    }
    &.reset {
      &:hover {
        background-color: $main_red;
      }
    }
  }
}
