html,
body {
  background-color: $bg_body;
  height: 100%;
  min-width: 320px;
}

.root-loading {
  padding: 40px;
  text-align: center;
}

#root {
  height: 100%;
  & > div {
    height: 100%;
  }
}

.page {
  height: 100%;
}

.main {
  display: flex;
  margin: 0 auto;
  height: calc(100% - 75px);
  max-width: 1280px;
  position: relative;
}

.header {
  & > .container {
    margin: 0 auto;
    height: 100%;
    max-width: 1280px;
  }
}
